<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'form-signin' }) do |f| %>
  	<%= f.full_error :confirmation_token %>

  	<h2 class="form-signin-heading">Resend Confirmation</h2>
  	<p class="link-text" >To resend the confirmation email, please enter the address you used to register. If you do not see the confirmation email in your mailbox, please check your spam folder.</p>

  	<div class="form-inputs">
    	<%= f.input :email, :required => true, placeholder: 'Email Address',
			:label => false, input_html: { class: 'form-control form-single' } %>
  	</div>

  	<div class="form-actions">
    	<%= f.button :submit, "Resend Confirmation", class: 'btn btn-primary btn-lg btn-block btn-cust-blue btn-cust' %>
  	</div>
  	<hr>
  	<%= render "devise/shared/links" %>

<% end %>