<br/>
<% @employees.each do |employee| %>
    <% if employee.first_name.empty? && employee.last_name.empty? %>
        <% @temp = "N/A" %>
    <% else %>
        <% @temp = employee.first_name + " " + employee.last_name %>
    <% end %>
    <% @employeeJS = "retrieveEmployee(" + employee.id.to_s + ")" %>
    <div style="height:34px"><span><a data-toggle="modal" data-target="#flexModal" href="" style="font-size:120%" onclick="retrieveEmployee(<%=employee.id.to_s%>)"><%= @temp %></a></span>
                <span style="float:right"><%= link_to 'Edit', edit_employee_path(employee), :class => "btn btn-green", :style => "height:50%" %>
                  <%= link_to 'Destroy', employee_path(employee),method: :delete, :class => "btn btn-red", :style => "height:50%" %></span>
    </div>
<% end %>
<br/>
<span><%= link_to 'New Employee', new_employee_path, :style => "height:200%", :class => "btn btn-blue btn-lg" %></span>