<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @employee.home_number %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @employee.mobile_number %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @employee.fax_number %>
</p>

<p>
  <strong>Street:</strong>
  <%= @employee.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @employee.zip %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @employee.nationality %>
</p>

<p>
  <strong>Language:</strong>
  <%= @employee.language %>
</p>

<p>
  <strong>English:</strong>
  <%= @employee.english %>
</p>

<p>
  <strong>Years inus:</strong>
  <%= @employee.years_inUs %>
</p>

<p>
  <strong>Hha lic:</strong>
  <%= @employee.hha_lic %>
</p>

<p>
  <strong>Driver lic:</strong>
  <%= @employee.driver_lic %>
</p>

<p>
  <strong>Access tocar:</strong>
  <%= @employee.access_toCar %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @employee.notes %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
