<div class="page-content" style="opacity:1">

<!-- begin PAGE TITLE AREA -->
<!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
<div class="row">
  <div class="col-lg-12">
    <div class="page-title">
      <h1>Dashboard
        <small>Content Overview</small>
      </h1>

    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- end PAGE TITLE AREA -->
  <div class="col-lg-6">
  <div class="portlet portlet-default ">
    <div class="portlet-heading">
      <div class="portlet-title">
        <h4>Employees <i  class="fa fa-users" ></i></h4>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
      <div class="table-responsive">
        <% @employees.each do |employee| %>
            <% if employee.first_name.empty? && employee.last_name.empty? %>
                <% @temp = "N/A" %>
            <% else %>
                <% @temp = employee.first_name + " " + employee.last_name %>
            <% end %>
            <% @employeeJS = "retrieveEmployee(" + employee.id.to_s + ")" %>
            <div style="height:34px"><span><a data-toggle="modal" data-target="#flexModal" href="" style="font-size:120%" onclick="retrieveEmployee(<%=employee.id.to_s%>)"><%= @temp %></a></span>
                <span style="float:right"><%= link_to 'Edit', edit_employee_path(employee), :class => "btn btn-green", :style => "height:50%" %>
                  <%= link_to 'Destroy', employee_path(employee),method: :delete, :class => "btn btn-red", :style => "height:50%" %></span>
            </div>

        <% end %>
        <hr>
        <%= link_to "View All", employees_path, align: "center" %>
      </div>
    </div>
    </div>
    </div>
   <div class="col-lg-6">
    <div class="portlet portlet-orange">
      <div class="portlet-heading">
        <div class="portlet-title">
          <h4>Patients <i class="fa fa-wheelchair"></i></h4>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="portlet-body">
        <div class="table-responsive">
          <% @patients.each do |patient| %>
              <% if patient.first_name.empty? && patient.last_name.empty? %>
                  <% @tempPatient = "N/A" %>
              <% else %>
                  <% @tempPatient = patient.first_name + " " + patient.last_name %>
              <% end %>
              <% @patientJS = "retrievePatient(" + patient.id.to_s + ")" %>
              <div style="height:34px"><span><a data-toggle="modal" data-target="#flexModal" href="" style="font-size:120%" onclick="retrievePatient(<%=patient.id.to_s%>)"><%= @tempPatient %></a></span>
                <span style="float:right"><%= link_to 'Edit', edit_patient_path(patient), :class => "btn btn-green", :style => "height:50%" %>
                  <%= link_to 'Destroy', patient_path(patient),method: :delete, :class => "btn btn-red", :style => "height:50%" %></span>
              </div>
          <% end %>
          <hr>
          <%= link_to "View All", patients_path %>
        </div>
      </div>
    </div>
    </div>
   <div class="col-lg-6">
  <div class="portlet portlet-green">
    <div class="portlet-heading">
      <div class="portlet-title">
        <h4>Cases <i class="fa fa-archive"></i></h4>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="portlet-body">
      <div class="table-responsive">
        <% @cases.each do |lcase| %>

            <% @tempPatient = @patientsAll.find(lcase.patient_id).first_name + " " + @patientsAll.find(lcase.patient_id).last_name %>
            <% @tempEmployee =  @employeesAll.find(lcase.employee_id).first_name + " " + @employeesAll.find(lcase.employee_id).last_name %>
            <% @caseJS = "retrieveCase(" + lcase.id.to_s + ")" %>
            <div style="height:34px"><span><a data-toggle="modal" data-target="#flexModal" href="" style="font-size:120%" onclick="retrieveCase(<%=lcase.id.to_s%>)"><span class="patientSpan"><%= @tempPatient %> </span> || <span class="employeeSpan"> <%= @tempEmployee %></span></a></span>
                <span style="float:right"><%= link_to 'Edit', edit_case_path(lcase), :class => "btn btn-green", :style => "height:50%" %>
                  <%= link_to 'Destroy', case_path(lcase),method: :delete, :class => "btn btn-red", :style => "height:50%" %></span>
            </div>
        <% end %>
        <hr>
        <%= link_to "View All", employees_path %>
      </div>
    </div>
  </div>
    </div>
</div>

<div class="modal modal-flex fade in" id="flexModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="false" style="display: none;">
  <div class="modal-dialog employee-block patient-block employee-block">

  </div><!-- /.modal-dialog -->
</div>
<script>
    retrieveEmployee = function (employee) {
        var msg = {"employee":employee};
        $.ajax({
            type: 'GET',
            url: '/employees/'+employee,
            dataType: 'html',
            data: msg,

            success: function (response) {
                $('.employee-block').html(response);
            }
        });
    }
    retrievePatient = function (patient) {
        var msg = {"patient":patient};
        $.ajax({
            type: 'GET',
            url: '/patients/'+patient,
            dataType: 'html',
            data: msg,

            success: function (response) {
                $('.patient-block').html(response);
            }
        });
    }
    retrieveCase = function (lcase) {
        var msg = {"case":lcase};
        $.ajax({
            type: 'GET',
            url: '/cases/'+lcase,
            dataType: 'html',
            data: msg,

            success: function (response) {
                $('.employee-block').html(response);
            }
        });
    }
</script>
