<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=> { class: 'form-signin' }) do |f| %>
	<h2 class="form-signin-heading">Please login</h2>

	<div class="form-inputs">
		<%= f.input :email, :required => true, placeholder: 'Email Address',  :label => false, input_html: { class: 'form-control form-top' } %>
		<%= f.input :password, :required => true, placeholder: 'Password',  :label => false, input_html: { class: 'form-control form-bottom' } %>
		<%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
	</div>

	<div class="form-actions">
		<%= f.button :submit, 'Sign In', class: 'btn btn-primary btn-lg btn-block btn-cust-blue btn-cust'%>
	</div>
	<hr>
	<%= render "devise/shared/links" %>
<% end %>

<script>
    var ready;
    ready = function() {

        var vl = live_validator.init({
            Error: {errorClass: 'help-inline'},
            Wrapper: {wrapperClass: 'controls'},
            Validators:
            [
                {name: "#user_email",rules:[{required:{}},{regex:{expression: 'email'}}]},
                {name: "#user_password",rules:[{required:{}},{regex:{expression: 'password'}}]}
            ]
        })
    };

    $(document).ready(ready());
    //$(document).on('page:load', ready());
</script>