<!-- begin TOP NAVIGATION -->
<nav class="navbar-top" role="navigation">

<!-- begin BRAND HEADING -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
    <i class="fa fa-bars"></i> Menu
  </button>
  <div class="navbar-brand">
    <a class="homeTitle" href="/" style="color:white; text-decoartion:none">
      <bold>Olga's Helpers</bold>
      <!--<img src="/assets/flex-admin-logo.png" data-1x="/assets/flex-admin-logo@1x.png" data-2x="/assets/flex-admin-logo@2x.png" class="hisrc img-responsive" alt="">-->
    </a>
  </div>
</div>
<!-- end BRAND HEADING -->

<div class="nav-top">


<!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
<ul class="nav navbar-right">

<!-- begin USER ACTIONS DROPDOWN -->
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-user"></i> <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu">
    <% if user_signed_in? %>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, :method => 'delete', class:'session_path' %>
        </li>
    <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
    <% end %>
    <% if user_signed_in? %>
        <li>
          <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
        <% if current_user.has_role? :admin %>
            <li>
              <%= link_to 'Admin', users_path %>
            </li>
        <% end %>
    <% else %>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
    <% end %>
  </ul>
  <!-- /.dropdown-menu -->
</li>
<!-- /.dropdown -->
<!-- end USER ACTIONS DROPDOWN -->

</ul>
<!-- /.nav -->
<!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

</div>
<!-- /.nav-top -->
</nav>
<!-- /.navbar-top -->
<!-- end TOP NAVIGATION -->